<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>
    <ul class="task_name">
      <% for(var i = 0; i < task_name.length; i++) {%>
      <li class="task_name">
        <span><%= task_name[i].name %></span>:
        <span><%= task_name[i].quote %></span>
      </li>
      <% } %>
    </ul>
    <div class="update">
      <p>Change name of the task</p>
      <button id="update_button">Change task name</button>
    </div>
    <div class="delete">
      <p>Delete task</p>
      <button id="delete_button">Delete task</button>
    </div>
    <div class="message"></div>
    <script src="/main.js"></script>
  </body>
</html>
